
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: linear-gradient(135deg, rgba(244, 164, 96, 0.7), rgba(255, 239, 213, 0.7), rgba(245, 222, 179, 0.7)),
    url("/images/home.jpg") center/cover no-repeat;
    color: #DEB887;
    text-align: center;
    padding: 2rem;
}

.home-cont {
    max-width: 700px;
    background: rgba(0, 0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0, 0.3);
}

.home-cont h1 {
    font-family: cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #363535;
    text-shadow: 0 9px 40px rgba(0, 0, 0, 0.3);
}

.home-cont p {
    font-family: cursive;
    font-size: 1.4rem;
    color: #464545;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.btn {
    font-family: cursive;
    background: linear-gradient(to left, #DEB887, #BC8F8F);
    color: #696262;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background: #BC8F8F;
}

.page {
    font-family: cursive;
    text-align: center;
    padding: 3rem 2rem;
    background: linear-gradient(135deg, #f79c4d, #f4a460, #dd7f3b, #BC8F8F, #fdf6e3, #fffaf0);
    min-height: 100vh;
}

.page h1 {
    color: #8b4513;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0, 0.3);
}

.search-box {
    padding: 0.8rem 1.2rem;
    width: 60%;
    max-width: 400px;
    border: 2px solid #deb887;
    border-radius: 15px;
    outline: none;
    font-family: cursive;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin-bottom: 2.5rem;
}

.search-box:focus {
    box-shadow: 0 0 10px rgba(244, 164, 96, 0.6);
    border-color: #f4a460;
}

.destinations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.card {
    background-color: #DEB887;
    border-radius: 10px;
    height: 410px;
    overflow: hidden;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    color: #8b4513;
    margin: 1rem 0 0.5rem;
    font-size: 1.3rem;
    padding: 0.1rem;
}

.card p {
    color: #555;
    font-size: 0.95rem;
    margin: 0 1rem 1.2rem;
    line-height: 1.4;
    padding: 0.1rem;
}

.trip-btn {
    display: flex;
    justify-content: center;
    color: #696262;
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0 1rem;
    transition: all 0.3s ease;
}

.trip-btn:hover {
    background: #dd7f3b;
    transform: scale(1.05);
}

.trip-form {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.trip-form input {
    padding: 0.6rem 1rem;
    border-radius: 10px;
    border: 2px solid #deb887;
    outline: none;
}

.trip-form button {
    padding: 0.6rem 1.5rem;
    border-radius: 15px;
    border: none;
    background: #f4a460;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trip-form button:hover {
    background: #deb887;
}

.trip-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 0 2rem;
}

.trip-card {
    background: #fffaf0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.trip-card h3 {
    margin-bottom: 0.5rem;
    color: #8b4513;
}

.trip-card button {
    background: #f4a460;
    border: none;
    padding: 0.5 1rem;
    color: #555;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trip-card button:hover {
    background: #DEB887;
}

.trip-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.trip-buttons button {
    background: #f4a460;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    color: #8b4513;
    cursor: pointer;
    transition: 0.3s;
}

.trip-buttons button:hover {
    background: #DEB887;
}

.trip-card a {
    display: inline-block;
    margin-top: 0.5rem;
    color: #8b4513;
    text-decoration: none;
    font-weight: bold;
}

.trip-card a:hover {
    text-decoration: underline;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fffaf0;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    width: 300px;
    text-align: center;
}

.modal-content input {
    display: block;
    width: 93%;
    margin: 1rem 0;
    padding: 0.6rem;
    border-radius: 10px;
    border: 2px solid #deb887;
    outline: none;
}

.modal-content button {
    background: #f4a460;
    color: #8b4513;
    display: inline-block;
    justify-content: center;
    padding: 0.4rem 1rem;
    margin-left: 0.3rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}